<% include ../partials/header.ejs %>
<% avatarUser.local.avatar.forEach(function(avatar){%>
    <% if(user.local.role == 'Organizator'){%>
        <% include ../partials/sidebar-organizer.ejs %>
    <%}else if(user.local.role == 'admin'){%>
        <% include ../partials/sidebar-admin.ejs %>
    <%}else{%>
        <% include ../partials/sidebar.ejs %>
    <%}%>
<%})%>
<div id="page-wrapper">
    <div class="row animated fadeInUp">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-gamepad fa-1x gamepad-icon"></i> Jucatori</h1>
        </div>

        <% include ../players/partials-players/players-tabs.ejs %>

        <div class="tab-content">
            <% include ../players/partials-players/players-bronze-league.ejs %>
            <% include ../players/partials-players/players-silver-league.ejs %>
            <% include ../players/partials-players/players-gold-league.ejs %>
            <% include ../players/partials-players/players-platinum-league.ejs %>
            <% include ../players/partials-players/players-diamond-league.ejs %>
            <% include ../players/partials-players/players-masters-league.ejs %>
            <% include ../players/partials-players/players-grand-master-league.ejs %>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>