<% include ../partials/header.ejs %>
<% userAvatar.local.avatar.forEach(function(avatar){%>
    <%if(user.local.role == 'User'){%>
        <% include ../partials/sidebar.ejs %>
    <%}else if(user.local.role == 'Organizator'){%>
        <% include ../partials/sidebar-organizer.ejs%>
    <%}else if(user.local.role == 'admin'){%>
        <% include ../partials/sidebar-admin.ejs%>
<%}%>

<%});%>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>A aparut o eroare in transmiterea emailului!</h1>
    </div>
</div>