<%include ../partials/header.ejs%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 container-403-error-message">
                <img src="/images/error-page-baneling/baneling-concept.png" alt="Error image"/>
                <h1>403 - Acces interzis</h1>
                <p>Ne pare rau, insa aceasta sectiune nu iti este dedicata :)</p>
            </div>
        </div>
    </div>
<%include ../partials/footer.ejs%>

