<% include ../partials/header.ejs %>

<!--Change background for profile page based on player race-->
<% if(detailedUser.local.race == 'Terran'){%>
    <div class="background-profile-terran">
<%} else if (detailedUser.local.race == 'Zerg'){%>
    <div class="background-profile-zerg">
<%} else {%>
    <div class="background-profile-protoss">
<%}%>

    <div class="container-profile-elements">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 container-welcome-elements-race">
                <%if(user.local.race == 'Zerg'){%>
                    <%include partials-profile/zerg-race-messages-profile.ejs%>
                <%}else if(user.local.race == 'Terran'){%>
                    <%include partials-profile/terran-race-messages-profile.ejs%>
                <%}else{%>
                    <%include partials-profile/protoss-race-messages-profile.ejs%>
                <%}%>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 sliding-panel-main-profile">
                <%include partials-profile/user-options-profile.ejs%>
            </div>
            <div class="col-xs-8 container-general-summary-profile">
                <%include partials-profile/user-summary-profile.ejs%>
            </div>
    </div>
</div>

<% include ../partials/footer.ejs %>