<div class="container-partners container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 container-text-contact">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8 container-partners-logos">
                <div class="col-sm-3 col-md-3 col-lg-3 container-description-partner">
                    <a href="http://www.starcraft2-vidcasts.ro" target="_blank">
                        <img src="images/logo-sc2-vidcasts/logo_SC2_small_png.png" alt="Starcraft2 Vidcasts Romania"/>
                    </a>
                    <p>&CloseCurlyDoubleQuote;In primul rand, vrem sa crestem comunitatea de jucatori pro romani din Starcraft2. In al doilea rand, vrem sa atragem cat mai multe persoane spre genul RTS si Starcraft2.&CloseCurlyDoubleQuote;
                    </p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 container-description-partner">
                    <a href="http://www.nexusclub.ro" target="_blank">
                        <img id="logo-nexus-club" src="images/logo-sc2-vidcasts/nexus-logo-1.png" alt="Nexus Club Bucuresti"/>
                    </a>
                    <p>&CloseCurlyDoubleQuote;Daca esti pasionat de jocuri online si cauti un loc in care sa te simti in largul tau, unde sa intalnesti persoane care sa se mandreasca cu statutul de gamer, Nexus Gamers Pub este locul pe care il cauti. Concursuri, turnee, si evenimente din sfera gaming-ului, board games si bineinteles, multe bauturi si snacks-uri, doar suntem un Pub! :)&CloseCurlyDoubleQuote;
                    </p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>