<div class="container-partners container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 container-text-contact">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8 container-partners-logos">
                <div class="col-sm-3 col-md-3 col-lg-3 container-description-partner">
                    <a href="http://www.starcraft2-vidcasts.ro" target="_blank">
                        <img src="images/logo-sc2-vidcasts/logo_SC2_small_png.png" alt="Starcraft2 Vidcasts Romania"/>
                    </a>
                    <p>&CloseCurlyDoubleQuote;In primul rand, vrem sa crestem comunitatea de jucatori pro romani din Starcraft2. In al doilea rand, vrem sa atragem cat mai multe persoane spre genul RTS si Starcraft2.&CloseCurlyDoubleQuote;
                        <br/>
                        <br/>
                        Cristian Sergiu Drincu
                    </p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>