<div class="container-organizatori">
    <div class="container-fluid">
        <div class="row">

                <!--<div class="jucatori-section-intro col-sm-3 col-md-3 col-lg-3">-->
                    <!--<h1>Organizatori</h1>-->
                    <!--<div ng-controller="OrganizersController" class="main-container-organizers">-->
                        <!--<h3>{{ organizersPresent }}</h3>-->
                    <!--</div>-->
                <!--</div>-->
            <h1 class="organizer-teaser-text">Turneul tau la 1 click distanta...</h1>
                <div class="organizer-benefits col-sm-12 col-md-12 col-lg-12">
                    <div class="container-beneficiu col-sm-3 col-md-3 col-lg-3">
                        <div class="container-icon-beneficiu">
                            <i class="fa fa-cogs fa-4x"></i><h3>Panou administrare</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                            <br/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                        </div>
                        <a href="#">
                            <i class="fa fa-video-camera"></i> Urmareste clipul
                        </a>

                    </div>
                    <div class="container-beneficiu col-sm-3 col-md-3 col-lg-3">
                        <div class="container-icon-beneficiu">
                            <i class="fa fa-envelope fa-4x"></i><h3>Notificari prin e-mail</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                            <br/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                        </div>
                        <a href="#">
                            <i class="fa fa-video-camera"></i> Urmareste clipul
                        </a>
                    </div>
                    <div class="container-beneficiu col-sm-3 col-md-3 col-lg-3">
                        <div class="container-icon-beneficiu">
                            <i class="fa fa-trophy fa-4x"></i><h3>Turnee custom</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                            <br/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                        </div>
                        <a href="#">
                            <i class="fa fa-video-camera"></i> Urmareste clipul
                        </a>
                    </div>
                    <div class="container-beneficiu col-sm-3 col-md-3 col-lg-3">
                        <div class="container-icon-beneficiu">
                            <i class="fa fa-users fa-4x"></i><h3>Alege casteri pentru turneu</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                            <br/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum tellus et dui pharetra, lobortis volutpat metus semper. Sed enim magna, sagittis maximus orci ut, suscipit volutpat orci. Sed pellentesque id mi volutpat facilisis. Cras tincidunt mi vel felis varius dignissim.</p>
                        </div>
                        <a href="#">
                            <i class="fa fa-video-camera"></i> Urmareste clipul
                        </a>
                    </div>
                </div>

        </div>
    </div>
</div>
<!--ORGANIZATORI container ends here-->