<div class="col-lg-4">
    <h4 style="padding-top: 15px;">Ce presupune editarea numarului de locuri?</h4>
    <p style="margin-top: 30px;">Modificare numarului de locuri se poate face doar in ordine <span style="color: red">CRESCATOARE</span>. Nu poti sa ai 8 locuri si sa modifici la 4. Poti sa ai 8 locuri si sa modifici la 16. Odata ajuns la 16 locuri, nu te mai poti intoarce la 8. Drept urmare, atentie la aceste modificari!</p>
</div>