<div class="col-lg-4">
    <h4 style="padding-top: 15px;">Ce presupune editarea numarului de locuri?</h4>
    <p style="margin-top: 30px;">Modificarile la ligile din cadrul turneului prespupune adaugarea unei(unor) noi ligi. De exemplu, daca turneul tau ofera locuri pentru Bronze, Silver si Gold, insa te hotarasti sa deschizi locuri si pentru jucatori din
    Platinum si Diamond, vei putea sa faci acest lucru. Dupa ce s-au facut aceste modificari, nu vei putea sa scoti din aceste ligi, gen sa revii doar la Bronze, Silver si Gold. O astfel de functionalitate ar scoate din turneu
    jucatorii din Platinum si Diamond si ar duce la tot felul de certuri si neintelegeri. Drept urmare, te rugam sa te gandesti de 2 ori inainte de a modifica ligile pe care le suporta turneul tau!</p>
</div>