<div class="col-lg-4 container-advice-edit-tournament">
    <h4>Ce presupune editarea numarului de locuri?</h4>
    <p>Modificare numarului de locuri se poate face doar in ordine <span>CRESCATOARE</span>. Nu poti sa ai 8 locuri si sa modifici la 4. Poti sa ai 8 locuri si sa modifici la 16. Odata ajuns la 16 locuri, nu te mai poti intoarce la 8. Drept urmare, atentie la aceste modificari!</p>
</div>