<div class="col-lg-4">
    <h4 style="padding-top: 15px;">Ce presupune editarea unui turneu?</h4>
    <p style="margin-top: 30px;">Orice schimbare facuta in cadrul unui turneu presupune trimiterea unui e-mail catre toti cei inscrisi in cadrul sau. Acest email va contine faptul ca turneul a fost modificat si ce anume s-a modificat!</p>

    <p>Te rugam ca aceste modificari sa nu fie facute in ultimul moment, ci din timp, <span style="color: red">minim cu 1 zi</span> inainte de inceperea turneului!</p>
</div>