<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Data inceperii
        </div>
        <div class="panel-body">
            <p class="centered-info-tournament"><%=moment(tournament.startDate).format("DD MMMM YYYY")%></p>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Data terminarii
        </div>
        <div class="panel-body">
            <p class="centered-info-tournament"><%=moment(tournament.endDate).format("DD MMMM YYYY")%></p>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Ora inceperii
        </div>
        <div class="panel-body">
            <p class="centered-info-tournament"><%=tournament.startHour%></p>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Locuri disponibile
        </div>
        <div class="panel-body">
            <p class="centered-info-tournament"><%=tournament.nrOfPlayers%></p>
        </div>
    </div>
</div>