<h4>Gradul de ocupare a locurilor: <%= Math.floor(procentajOcupare) + '%'%></h4>
<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= procentajOcupare + '%'%>">
    </div>
</div>