<div class="row container-send-notification">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="text-align: left;" class="col-sm-5 col-md-5 col-lg-5">
            <h3>Tips &amp; tricks despre notificari</h3>
            <p style="margin-bottom: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus sem ac quam feugiat, eu vulputate nisl finibus. Cras congue libero quis tortor tempus, lacinia accumsan sapien cursus. Vivamus blandit imperdiet quam lobortis sagittis. Suspendisse quis purus vulputate, fringilla turpis sed, ultrices lectus. Fusce molestie dolor sit amet tellus tempor semper. Morbi diam nisl, volutpat at sapien id, luctus tincidunt lorem. Fusce ullamcorper justo ac enim dapibus, vel ultricies odio eleifend.
                Praesent vitae urna et metus finibus cursus sed sit amet risus.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus sem ac quam feugiat, eu vulputate nisl finibus. Cras congue libero quis tortor tempus, lacinia accumsan sapien cursus. Vivamus blandit imperdiet quam lobortis sagittis. Suspendisse quis purus vulputate, fringilla turpis sed, ultrices lectus. Fusce molestie dolor sit amet tellus tempor semper. Morbi diam nisl, volutpat at sapien id, luctus tincidunt lorem. Fusce ullamcorper justo ac enim dapibus, vel ultricies odio eleifend.
                Praesent vitae urna et metus finibus cursus sed sit amet risus.
            </p>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
            <% if(tournament.players.length != 0){%>
                <form class="form-horizontal" name="sendNotification" action="/send-notification-players/<%= tournament._id%>/<%= user._id%>" method="post">
                    <div class="form-group">
                        <label for="notification">Introdu mesajul notificarii mai jos:</label>
                        <textarea name="notificationMsg" class="form-control" rows="15" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Trimite notificarea</button>
                </form>
            <%} else {%>
                <h3>Nu exista jucatori in cadrul acestui turneu!</h3>
            <%}%>
        </div>
    </div>
</div>