<h1>Castigator turneu</h1>
<%if( (user.local.role == 'Organizator' && userId == tournament.organizer[0]._id)){%>
    <%if(moment(currentDate).isSame(tournament.endDate) || moment(currentDate).isAfter(tournament.endDate) && tournament.winner.length == 0){%>
        <form action="/declare-winner/<%=tournament._id%>/<%=userId%>" method="post">
            <div class="form-group">
                <label>Jucator</label>
                <input type="text" class="form-control" name="winnerName" id="playerNicks" placeholder="Introdu numele jucatorului" required>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Declara castigator</button>
        </form>
    <%}else if(tournament.winner.length > 0){%>
        <div class="tournament-winner-container">
            <img src="../../images/trophy/tournament-trophy.jpg" alt="Castigatorul turneului" width="200" height="232"/>
            <h3><%=tournament.winner[0].local.nickname%></h3>
        </div>
    <%}else{%>
        <h3>Vei putea declara castigatorul doar in ziua de final de concurs!</h3>
    <%}%>
<%}else if(tournament.winner.length == 0){%>
    <h3>Organizatorul nu a declarat un castigator al acestui concurs!</h3>
<%}else{%>
    <div class="tournament-winner-container">
        <img src="../../images/trophy/tournament-trophy.jpg" alt="Castigatorul turneului" width="200" height="232"/>
        <h3><%=tournament.winner[0].local.nickname%></h3>
    </div>
<%}%>