<div class="col-lg-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-weixin fa-fw"></i> Canal chat SC2
        </div>
        <div class="panel-body">
            <p class="centered-info-tournament">
                <%=tournament.ingameChatChannel%>
            </p>
        </div>
    </div>
</div>