<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Canal Stream
        </div>
        <div class="panel-body">
            <p class="centered-info-tournament">
                <a href="<%=tournament.twitchStreamChannel%>" target="_blank"><%=tournament.twitchStreamChannel%></a>
            </p>
        </div>
    </div>
</div>