<div class="row container-elements-create-brackets">
    <% if ( tournament.players.length < 2 ) {%>
        <h3>Nu ai strans numarul minim de jucatori pentru a putea publica brackets-urile. Ai nevoie de minim 2 jucatori!</h3>

    <%} else if( moment(tournament.endDate) < moment(new Date()) ) {%>
        <h3>Data de terminare a turneului a trecut. Ne pare rau!</h3>

    <%} else if( !tournament.bracketsPublished ) {%>
         <h1>PASUL 1</h1>
         <p>Te rugam sa folosesti una din cele 2 optiuni pentru creareea brackets-urilor(noi preferam Challonge):</p>
         <div class="col-sm-12 col-md-12 col-lg-12 container-logos-brackets">
             <div class="col-sm-6 col-md-6 col-lg-6">
                 <a href="http://challonge.com/" target="_blank">
                     <img class="challonge-logo" src="../../images/logos-brackets/challonge-logo.png"/>
                 </a>
             </div>
             <div class="col-sm-6 col-md-6 col-lg-6">
                 <a href="http://binarybeast.com/" target="_blank">
                     <img src="../../images/logos-brackets/binary-beast-logo.png"/>
                 </a>
             </div>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-12">
             <h1>PASUL 2</h1>
             <p>Te rugam sa introduci link-ul catre pagina de brackets generate fie pe Challonge, fie pe Binary Beast
                 (<strong>acest link va fi trimis pe e-mail concurentilor inscrisi</strong>):
             </p>
             <form name="linkForBrackets" action="/send-brackets-players/<%= tournament._id %>/<%= user._id%>" method="post" id="linkForBrackets">
                 <div class="form-group">
                     <label for="sendLink">Introdu link-ul mai jos:</label>
                     <input type="text" class="form-control" placeholder="ex: http://challonge.com/<link-catre-brackets>" id="sendLink" name="tournamentBracketLink" required/>
                 </div>
                 <input type="submit" class="btn btn-success" value="Trimite"/>
             </form>
         </div>

    <%} else {%>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Brackets-urile pentru acest turneu pot fi accesate mai jos:</h3>
            <a href="<%= tournament.bracketsLink%>" target="_blank">Click aici pentru brackets</a>
        </div>
    <%}%>
</div>