<div class="col-lg-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Premii
        </div>
        <div class="panel-body">
            <p class="centered-info-tournament">
                <%= tournament.prize ? 'Da': 'Nu'%>
            </p>
        </div>
    </div>
</div>