<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-file-text fa-fw"></i> Detalii turneu <%=tournament.tournamentName%>, <%=tournament.edition == 1 ? 'editia ' + tournament.edition : 'editia a ' + tournament.edition + '-a'%>
        </div>
        <div class="panel-body">
            <p><%=tournament.description.trim()%></p>
        </div>
    </div>
</div>