<% include partials/header.ejs %>

    <div class="container" style="margin-top: 150px;">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Aici gasesti toate turneele de Starcraft 2 din Romania</h1>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Fa-ti un cont</a>
        </div>
    </div>

<% include partials/footer.ejs %>

