<% include partials/header-landing-page.ejs %>
<div class="container-main-menu-landing-page">
    <div class="main-menu-landing-page row">
        <div class="col-sm-12 col-md-12 col-lg-12">
                <ul id="main-menu-left">
                    <!--<li><a href="http://www.starcraft2-vidcasts.ro" target="_blank"><img id="logo-sc2-vidcasts-romania" src="../images/logo-sc2-vidcasts/logo_SC2_small_png.png" alt="Starcraft2 Vidcasts Romania Logo" width="155" height="85"/></a> </li>-->
                    <li><a ui-sref-active="active" ui-sref="home">ACASA</a></li>
                    <li><a ui-sref-active="active" ui-sref="about">DESPRE NOI</a></li>
                    <li><a ui-sref-active="active" ui-sref="players">JUCATORI</a></li>
                    <li><a ui-sref-active="active" ui-sref="organizers">ORGANIZATORI</a></li>
                    <!--<li><a ui-sref-active="active" ui-sref="tournaments">TURNEE</a></li>-->
                    <li><a ui-sref-active="active" ui-sref="contact">CONTACT</a></li>
                    <li><a href="#">PARTENERI</a></li>
                    <li><a class="teaser-login-signup" href="/login">LOGIN</a></li>
                    <li><a class="teaser-login-signup" href="/signup">SIGNUP</a></li>
                </ul>
        </div>
    </div>
</div>
<div ui-view></div>

</body>
</html>