<% include partials/header-landing-page.ejs %>
<div class="container-main-menu-landing-page">
    <div class="main-menu-landing-page row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <ul id="main-menu-left">
                    <li data-scroll-nav="0"><a class="active" data-scroll-nav="0">ACASA</a></li>
                    <li data-scroll-nav="1"><a data-scroll-nav="1">DESPRE NOI</a></li>
                    <li data-scroll-nav="2"><a data-scroll-nav="2">JUCATORI</a></li>
                    <li data-scroll-nav="3"><a data-scroll-nav="3">ORGANIZATORI</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="container-site-logo">
                    <img id="logo-sc2-vidcasts-romania" src="../images/logo-sc2-vidcasts/logo_SC2_small_png.png" alt="Starcraft2 Vidcasts Romania Logo" width="155" height="85"/>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <ul id="main-menu-right">
                    <li data-scroll-nav="4"><a data-scroll-nav="4">TURNEE</a></li>
                    <li data-scroll-nav="5">CONTACT</li>
                    <li data-scroll-nav="6">PARTENERI</li>
                    <li><a class="teaser-login-signup" href="/login">LOGIN</a></li>
                    <li><a class="teaser-login-signup" href="/signup">SIGNUP</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div data-scroll-index="0" class="main-landing-page-container" id="acasa">
    <div class="container text-landing-page">
        <h1 class="huge-h1-landing-page">E-Sports. Turnee. Romania</h1>

        <p class="paragraph-landing-page">Salut si bine ai venit pe singura platforma de organizat turnee de Starcraft 2 din Romania!
        </p>

        <p class="paragraph-landing-page">
            Mai tii minte zilele acelea cand vroiai sa organizezi un turneu si nu stiai cu ce sa  incepi si cu ce sa termini? Iata ca noi, cei din cadrul echipei starcraft2-vidcasts.ro, ne-am gandit sa-ti dam o mana de ajutor.
        </p>

        <p class="paragraph-landing-page">
            Noua noastra platforma iti va da posibilitatea sa te organizezi foarte usor atunci cand vei avea intentia sa-ti creezi propriul turneu.
            Gata cu metodele  de genul: Google Docs sau comment-uri lasate la posturile de pe Facebook sau de pe site-urile voastre. Acum ai un singur loc cu nenumarate optiuni, iar astfel turneul tau va primii o tenta de profesionalism si seriozitate.
        </p>

        <p class="paragraph-landing-page last-item">
            Asa ca fa-ti un cont  si lasa sa  inceapa distractia!
        </p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Fa-ti un cont</a>
    </div>
</div>
<!--HOME container ends here-->

<div data-scroll-index="1" class="container-about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-4 col-md-4 col-lg-4 about-us-text">
                    <h1>CINE SUNTEM?</h1>
                    <h3>...sau ce incercam sa realizam!</h3>
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra, tortor sit amet ultricies porta, ante sapien tincidunt mauris,
                       quis pretium quam dolor ut magna. Quisque id semper urna. Fusce vulputate et ligula eget accumsan. Praesent mattis, risus a pellentesque cursus,
                       neque risus aliquam diam, sed tempor lectus nulla ut ligula. Aliquam erat volutpat.
                    </p>
                    <p>
                        Aliquam erat volutpat. Donec sodales consequat dolor, ut aliquet erat interdum vitae.
                        Suspendisse varius mauris mattis mollis consequat. Donec accumsan diam et purus ultrices fermentum.
                    </p>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 about-us-images">
                    <ul>
                        <li>
                            <img id="cristian" class="active-image" status="clicked" src="/images/team-sc2-vidcasts/pic_cristian.jpg" alt="Cristian Drincu" width="103" height="101"/>
                        </li>
                        <li>
                            <img id="adila" status="unclicked" src="/images/team-sc2-vidcasts/pic_adila.jpg" alt="Adrian Sandulescu" width="103" height="101"/>
                        </li>
                        <li>
                            <img id="hundrei" status="unclicked" src="/images/team-sc2-vidcasts/pic_chiriches-andrei.jpg" alt="Andrei Chiriches" width="103" height="101"/>
                        </li>
                        <li>
                            <img id="bouaru" status="unclicked" src="/images/team-sc2-vidcasts/pic_andrei-bouaru.jpg" alt="Andrei Bouaru" width="103" height="101"/>
                        </li>
                        <li>
                            <img id="digital-waves" status="unclicked" src="/images/team-sc2-vidcasts/pic_bogdan-lavu.jpg" alt="Bogdan Lavu" width="103" height="101"/>
                        </li>
                    </ul>
                    <!--Hidden sections for team member descriptions-->
                    <div class="active-description cristian-description member-description">
                        <h1>Cristian Sergiu Drincu</h1>
                        <h3>Programmer by day, gamer by night.</h3>
                        <p>Salut. Numele meu este Cristian Drincu a.k.a. Warbringer. Am 32 de ani si sunt din Timisoara. Radacinile de gamer le-am prins din clasa a 5-a, cand am primit primul comp, un 486. Primul joc a fost “Dune”, apoi “Warcraft”. Cam astea doua jocuri got me hooked forever pe stilul RTS.</p>
                    </div>
                    <div class="adila-description member-description">
                        <h1>Adrian Sandulescu</h1>
                        <h3>Diablo 3 &amp; Heroes of the Storm fanatic, Starcraft 2 caster</h3>
                        <p>Pasiunea pentru jocuri vine din vremea pe cand exista asa zisa consolo HC91, dupa care am trecut, ca toata lumea, pe gameboy. Ajuns la PC am descoperit Diablo 1, insa Diablo 2 l-am jucat
                            ani de zile…
                            <br/><br/>
                            O data cu lansarea jocului Diablo 3 am gasit comunitatea Vidcasts Romania, in care am fost facut membru si bagat cu japca la starcraft 2 pentru cast</p>
                    </div>
                    <div class="hundrei-description member-description">
                        <h1>Andrei Chiriches</h1>
                        <h3>Om impatimit de noutati &amp; Hearth Stone</h3>
                        <p>Nu sunt sau nu am fost cine stie ce gammer insa singurul game pe care l-am jucat cu o deosebita placere a fost Starcraft si asta se intampla pe vremea cand aveam eu 10-11 ani.
                            <br/><br/>
                            Despre mine nu pot decat sa va mai spun ca sunt imobilizat intr-un scaun cu rotile (deoarece am avut un accident stupid in 2008 si mi-am rupt coloana), sunt un tip optimist, glumet spre ironic si doritor sa schimb ceva pe lumea asta oricat de mic ar fi acest lucru.Traiesc dupa motto-ul ‘life is short, play hard’ si imi plac brunetele ).</p>
                    </div>
                    <div class="bouaru-description member-description">
                        <h1>Andrei Bouaru</h1>
                        <h3>Programator, designer, After Effects guru</h3>
                        <p>Primul meu joc l-am vazut la varsta de 5 ani pe un 386 si se numea Dune. Din acel moment tot ce a insemnat
                            gaming pentru mine au fost in mare parte RTS-uri.

                            Am trecut prin multe jocuri de atunci fps-uri, rts-uri si mobas dar pasiunea pentru Starcraft a ramas.
                            Dupa aproape 6 ani de pauza, a aparut Sc2 WoL si l-am luat instant.

                            Am dat de grupul starcraft 2 vidcast romania prin Adila, primul om pe care l-am vazut sa cast-eze in romana Sc2.</p>
                    </div>
                    <div class="digital-description member-description">
                        <h1>Bogdan Lavu</h1>
                        <h3>Exista un singur joc, cel mai tare joc... Starcraft 2</h3>
                        <p>Am început să vizitez sălile de jocuri de la vârsta de 12 ani, unde-mi investeam banii de dulciuri,colinde și furați.Long-night-urile erau dominate de Brood War,rar și de jocuri precum Diablo2,Heroes 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--DESPRE NOI container ends here-->

<div data-scroll-index="2" class="container-jucatori">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="jucatori-section-intro col-sm-4 col-md-4 col-lg-4">
                    <h1>Ce iti oferim ca si jucator</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius nulla ut metus finibus auctor. Nunc quis mi at enim viverra commodo vitae a dolor. Nullam nec auctor quam. Sed nec ante id nulla efficitur semper. </p>
                    <br/>
                    <p>Suspendisse ullamcorper ligula vel tempor semper. Donec non lacus et lectus auctor maximus ut ut odio. Phasellus sed elit sit amet est sodales mollis at id ex. Suspendisse potenti. Aenean in tincidunt turpis.</p>
                </div>
                <div class="jucatori-benefits col-sm-8 col-md-8 col-lg-8">
                    <h1>Beneficiile tale</h1>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="PlayersController" class="main-container-league-players">
        <div class="container-league-players">
            <img class="logo-liga" src="/images/logos-ligi/bronze-logo-ligi-200x200.png" alt="Liga Bronze" width="100" height="100"/>
            <div ng-if="bronzePlayers.length == 0">
                <p class="numberOfPlayers">{{ bronzePlayers.length }}</p>
            </div>
            <div ng-if="bronzePlayers.length > 0">
                <p class="numberOfPlayers">{{ bronzePlayers.length }}</p>
            </div>
        </div>
        <div class="container-league-players">
            <img class="logo-liga" src="/images/logos-ligi/silver-logo-ligi-200x200.png" alt="Liga Bronze" width="100" height="100"/>
            <div ng-if="silverPlayers.length == 0">
                <p class="numberOfPlayers">{{ silverPlayers.length }}</p>
            </div>
            <div ng-if="silverPlayers.length > 0">
                <p class="numberOfPlayers">{{ silverPlayers.length }}</p>
            </div>
        </div>
        <div class="container-league-players">
            <img class="logo-liga" src="/images/logos-ligi/gold-logo-ligi-200x200.png" alt="Liga Bronze" width="100" height="100"/>
            <div ng-if="goldPlayers.length == 0">
                <p class="numberOfPlayers">{{ goldPlayers.length }}</p>
            </div>
            <div ng-if="goldPlayers.length > 0">
                <p class="numberOfPlayers">{{ goldPlayers.length }}</p>
            </div>
        </div>
        <div class="container-league-players">
            <img class="logo-liga" src="/images/logos-ligi/platinum-logo-ligi-200x200.png" alt="Liga Bronze" width="100" height="100"/>
            <div ng-if="platinumPlayers.length == 0">
                <p class="numberOfPlayers">{{ platinumPlayers.length }}</p>
            </div>
            <div ng-if="platinumPlayers.length > 0">
                <p class="numberOfPlayers">{{ platinumPlayers.length }}</p>
            </div>
        </div>
        <div class="container-league-players">
            <img class="logo-liga" src="/images/logos-ligi/diamond-logo-ligi-200x200.png" alt="Liga Bronze" width="100" height="100"/>
            <div ng-if="diamondPlayers.length == 0">
                <p class="numberOfPlayers">{{ platinumPlayers.length }}</p>
            </div>
            <div ng-if="diamondPlayers.length > 0">
                <p class="numberOfPlayers">{{ diamondPlayers.length }}</p>
            </div>
        </div>
        <div class="container-league-players">
            <img class="logo-liga" src="/images/logos-ligi/masters-logo-ligi-200x200.png" alt="Liga Bronze" width="100" height="100"/>
            <div ng-if="mastersPlayers.length == 0">
                <p class="numberOfPlayers">{{ mastersPlayers.length }}</p>
            </div>
            <div ng-if="mastersPlayers.length > 0">
                <p class="numberOfPlayers">{{ mastersPlayers.length }}</p>
            </div>
        </div>
        <div class="container-league-players">
            <img class="logo-liga" src="/images/logos-ligi/grand-master-logo-ligi-200x200.png" alt="Liga Bronze" width="100" height="100"/>
            <div ng-if="grandMasterPlayers.length == 0">
                <p class="numberOfPlayers">{{ grandMasterPlayers.length }}</p>
            </div>
            <div ng-if="grandMasterPlayers.length > 0">
                <p class="numberOfPlayers">{{ grandMasterPlayers.length }}</p>
            </div>
        </div>
        <br class="clearFloats"/>
    </div>
</div>
<!--JUCATORI container ends here-->

<div data-scroll-index="3" class="container-organizatori">

</div>
<!--ORGANIZATORI container ends here-->

<div data-scroll-index="4" class="container-tournaments">

</div>
<!--TURNEE container ends here-->

<script src="/js/tournament-frontend-app/modules/players/js/controllers.js"></script>
<script src="/js/tournament-frontend-app/modules/players/js/services.js"></script>
<script src="/js/tournament-frontend-app/modules/players/players-module.js"></script>
<script src="/js/tournament-frontend-app/app.js"></script>
</body>
</html>