<% include partials/header-landing-page.ejs %>
<div class="main-landing-page-container" id="acasa">
    <div class="container text-landing-page">
        <h1 class="huge-h1-landing-page">E-Sports. Turnee. Romania</h1>

        <p class="paragraph-landing-page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum aliquet arcu eu ornare.
            Mauris consequat turpis sapien, vel elementum orci bibendum mollis.
            Aenean finibus enim sit amet lorem placerat, in vestibulum orci viverra. Sed vulputate ornare mi vel varius.
        </p>

        <p class="paragraph-landing-page">
            Curabitur sodales maximus mollis. Duis pellentesque auctor lorem, vitae fermentum libero pulvinar porttitor. Nam rutrum dapibus blandit.
            Vivamus sit amet odio hendrerit mauris cursus elementum.
        </p>

        <p class="paragraph-landing-page last-item">
            Pellentesque volutpat sapien et tristique dignissim.
        </p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Fa-ti un cont</a>
    </div>
</div>
</body>
</html>