.header-bar{
    background-color: #000;
}

#dateParagraph{
    float: left;
    margin-left: -20px;
    color: #37beb9;
    font-size: 13px;
    padding-top: 20px;
}

.cristian-drincu-signature{
    padding-bottom: 25px;
    border-bottom: 1px solid gainsboro;
}

.menu-section-text{
    font-size: 20px;
}

ul.titlu-turneu-signup{
    list-style: none;
    display: inline;
}

ul.titlu-turneu-signup li {
    display: inline;
}

.btn-signup-turneu-detalii{
    margin-top: 45px;
}

.two-button-set-list, .two-button-set-list li{
    margin: 0;
    padding: 0;
    display:inline-block;
    list-style: none;
}

.tournaments-list, .players-list{
    display:none;
}

.success-message-flash{
    color: green;
}

.error-message-flash{
    color: red;
}

.container-image-user{
    text-align: center;
    padding-bottom: 5px;
}

.btn-modifica-profilul{
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn-panou-turnee{
   margin-right: 10px;
}

.main-profile-image{
    box-shadow: 2px 2px 2px #888888;
}

.form-avatars{
    margin-top: 30px;
}

.message-no-players-found{
    margin-top: 20px;
    margin-left: 15px;
}

.profile-small-pic{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px #888888;
    margin-top: 55px;
}

.profile-pic-table-players{
    max-width: 120px;
    max-height: 120px;
    box-shadow: 2px 2px 2px #888888;
}

.profile-pic-send-message{
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px #888888;
}

.profile-pic-rezumat-backend{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 2px 2px 2px #888888;
}

.profile-pic-table-tournament-details{
    max-width: 40%;
    max-height: 40%;
    box-shadow: 2px 2px 2px #888888;
}

.container-user-avatar-admin{
    margin-top: 20px;
}

.containerNicknameRaceBNet{
    position: relative;
    top:-15px;
}

.btn-white-background{
    background-color: #fff;
}

.gamepad-icon{
    position: relative;
    top:-3px;
}

.buton-alege-avatar{
    position: relative;
    top:-5px;
    left: 2px;
}

.container-summary-players, .container-summary-messages{
    /*border-top: 5px solid #c4e3f3;*/
    height: 325px;
    margin-bottom: 20px;
}

.container-summary-organizers, .container-summary-avatars{
    /*border-top: 5px solid #ec971f;*/
    height: 325px;
    margin-bottom: 20px;
}

.container-summary-tournaments, .container-summary-blacklist{
    /*border: 1px solid #55cc22;*/
    height: 325px;
    margin-bottom: 20px;
}

.circleNrEntities, .circleNrEntitiesAvatar{
    display: block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    float: right;
    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: green;
    color: white;
    text-align: center;
}

.circleNrEntitiesAvatar{
    background-color: orangered;
}

.send-message-tournament-container{
    border-bottom: 1px solid gainsboro;
}

.send-message-tournament-container:last-child{
    border-bottom: none;
}

.container-organizer-details-tournament{
    margin-bottom: 25px;
    border-right: 1px dashed darkgray;
}
/*for a more detailed explanation on nth child: http://css-tricks.com/how-nth-child-works/*/
.container-organizer-details-tournament:nth-child(3n + 1){ /* the last element we need to be without a border is starts at index 4*/
    border-right: none;
}

ul.edit-menu-tournament, ul.edit-menu-tournament li{
    display: inline-block;
    font-size: 18px;
}

ul.edit-menu-tournament li{
    margin-left: 10px;
}

ul.edit-menu-tournament{
    padding-top: 45px;
}

.no-style-submit-button{
    border: none;
    background: none;
    color: #30487b;
}

.no-style-button{
    border: none;
    background: none;
}

.details-tournament-user th, .details-tournament-user td{
    text-align: center;
}

.div-gradient, .div-gradient-red, .div-gradient-green{
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
}

/*.div-gradient-green{*/
    /*background: #dce3c4; *//* Old browsers */
    /*background: -moz-linear-gradient(top,  #dce3c4 0%, #aebf76 100%, #fefefd 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dce3c4), color-stop(100%,#aebf76), color-stop(100%,#fefefd)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #dce3c4 0%,#aebf76 100%,#fefefd 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #dce3c4 0%,#aebf76 100%,#fefefd 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #dce3c4 0%,#aebf76 100%,#fefefd 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom,  #dce3c4 0%,#aebf76 100%,#fefefd 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce3c4', endColorstr='#fefefd',GradientType=0 ); *//* IE6-9 */
/*}*/

.createBrackets, .createBrackets:hover{
    border: none;
    background: none;
    color: #428bca;
}

.createBrackets:hover{
    text-decoration: underline;
}

.create-bracket-icon{
    color: #428bca;
}

.background-profile-terran, .background-profile-zerg, .background-profile-protoss{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 50px;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-profile-terran{
    background: url('../images/background-races/terran-background-2.jpg') no-repeat center center fixed;
}

.background-profile-zerg{
    background: url('../images/background-races/zerg-background-2.jpg') no-repeat center center fixed;
}

.background-profile-protoss{
    background: url('../images/background-races/protoss-background-2.jpg') no-repeat center center fixed;
}

@media screen and (max-width: 1024px) {
    .background-profile-terran, .background-profile-zerg, .background-profile-protoss {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.sliding-panel-main-profile{
    padding-top: 230px;
}

.user-profile-data-list{
    list-style: none;
    margin:0;
    padding: 0;
}

.user-profile-data-list li {
    background-color: black;
    padding: 10px 10px;
    margin-bottom: 3px;
    background-color:rgba(0, 0, 0, 0.7);
}

.user-profile-data-list li:last-child{
    margin-bottom: 10px;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}