body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.clearFloats{
    clear: both;
}

.top-nav-bar-landing-page{
    width: 100%;
    height: 40px;
    padding-top: 20px;
    background-color: #000;
    position: absolute;
    position: fixed;
}

.top-nav-bar-landing-page a{
    margin-left: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}

.top-nav-bar-landing-page a:last-child{
    margin-right: 50px;
}

.main-landing-page-container, .container-about-us, .container-jucatori, .container-organizatori, .container-tournaments{
    width: 100%;
    height: 900px;
}

.container-site-logo{
    padding-top: 30px;
}

.main-landing-page-container{
    /*background: url('../images/sc2-tournaments-background-2.jpg') no-repeat center center;*/
    /*background-size: 100%;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    background: rgb(242,246,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: rgb(242,246,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(242,246,248) 0%, rgb(216,225,231) 50%, rgb(224,239,249) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,246,248)), color-stop(50%,rgb(216,225,231)), color-stop(100%,rgb(224,239,249))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6 */
}

.text-landing-page{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: 1s fadeInUp ease;
    -moz-animation: 1s fadeInUp ease;
    -o-animation: 1s fadeInUp ease;
    animation: 1s fadeInUp ease;
}

.container-about-us{
    /*background-color: #3d4148;*/
    background-color: #000;
    padding-top: 120px;
    padding-left: 75px;
    color: #fff;
}

.container-about-us h1{
    font-size: 20px;
    padding-top: 10px;
    color: #000;
}


.container-main-menu-landing-page{
    width: 100%;
    height: 100px;
    /*background-color: #000;*/
    position: fixed;
    color: #fff;
}

.main-menu-landing-page{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}

#logo-sc2-vidcasts-romania{
    position: relative;
    top: -30px;
}

#main-menu-left, #main-menu-right{
    padding-top: 35px;
}

#main-menu-left li {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
}

#main-menu-left li a{
    color: #000;
}

#main-menu-left li a:hover{
    cursor: pointer;
}

#main-menu-left li a.active{
    color: #6bd7e7;
}

a.teaser-login-signup:hover{
    text-decoration: underline;
}

.text-landing-page{
    padding-top: 150px;
    /*padding-bottom: 350px;*/
}

p.paragraph-landing-page{
    width: 600px;
    color: #000;
    padding-top: 20px;
    margin-left: 65px;
}

p.last-item{
    padding-bottom: 30px;
}

h1.huge-h1-landing-page, h1.medium-h1-landing-page{
    color: #000;
}

h1.huge-h1-landing-page{
    font-size:120px;
    margin-left: 60px;
    margin-top: -20px;
}

h1.medium-h1-landing-page{
    font-size: 70px;
    margin-top: -20px;
}

#proiect, #echipa, #turnee-active{
    padding-top: 100px;
    padding-bottom: 100px;
}

/*ABOUT US*/
.container-about-us {
    /*background: url('../images/backgrounds-about-us-frontend/terran-background.jpg') no-repeat center center;*/
    background: rgb(242,246,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(242,246,248) 0%, rgb(216,225,231) 50%, rgb(224,239,249) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,246,248)), color-stop(50%,rgb(216,225,231)), color-stop(100%,rgb(224,239,249))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6 */
}

h1.intro-about-us{
    font-size: 110px;
    margin-left: 70px;
    -webkit-animation: 1s fadeInUp ease;
    -moz-animation: 1s fadeInUp ease;
    -o-animation: 1s fadeInUp ease;
    animation: 1s fadeInUp ease;
}

.about-us-text{
    background-color: #000;
    padding: 30px 30px;
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.about-us-text h3{
    margin-top: -10px;
    margin-bottom: 30px;
}

.about-us-text p{
    margin-bottom: 30px;
}

.about-us-images ul li{
    display: inline-block;
    margin-right: 10px;
}

.about-us-images ul li img{
    border-radius: 20px;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.about-us-images ul li img.active-image{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.about-us-images ul li img:hover{
    cursor: pointer;
}

.about-us-images {
    padding-top: 25px;
}

.member-description h3{
    margin-top: 0;
}

.login-btn{
    margin-left: 60px;
}

.member-description{
    padding: 20px 20px;
    margin-left: 70px;
    -webkit-animation: 1s fadeInDown ease;
    -moz-animation: 1s fadeInDown ease;
    -o-animation: 1s fadeInDown ease;
    animation: 1s fadeInDown ease;
    color: #000;
}

/*JUCATORI*/
.container-jucatori, .container-organizatori{
    padding-top: 200px;
    padding-left: 60px;
    color: #fff;
    /*background: url('../images/backgrounds-about-us-frontend/jucatori-background.jpg') no-repeat center center;*/

    background: rgb(242,246,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(242,246,248) 0%, rgb(216,225,231) 50%, rgb(224,239,249) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,246,248)), color-stop(50%,rgb(216,225,231)), color-stop(100%,rgb(224,239,249))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6 */
}

#cristian, #adila, #hundrei {
    float: left;
    margin-bottom: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    margin-right: 15px;
}

.team-member-role{
    margin-top: -10px;
    color: #000;
}

.main-container-league-players{
    margin-top: 60px;
    margin-left: 30px;
}

.main-container-organizers h3{
    margin-left: 120px;
    font-size: 80px;
}

.main-container-organizers ul li {
    list-style: none;
}

.main-container-organizers ul li p{
    font-size: 30px;
}

.container-league-players{
    text-align: center;
    float: left;
    margin-right: 10px;
}

.numberOfPlayers{
    font-size: 30px;
    color: #000;
}

.jucatori-section-intro h1{
    margin-bottom: 40px;
    margin-left: 40px;
    color: #000;
}

.jucatori-section-intro {
    /*-webkit-animation: 1s fadeInLeft ease;*/
    /*-moz-animation: 1s fadeInLeft ease;*/
    /*-o-animation: 1s fadeInLeft ease;*/
    /*animation: 1s fadeInLeft ease;*/
}

.jucatori-benefits, .organizer-benefits{
    -webkit-animation: 1s fadeInUp ease;
    -moz-animation: 1s fadeInUp ease;
    -o-animation: 1s fadeInUp ease;
    animation: 1s fadeInUp ease;
}

.organizer-benefits{
    padding-top: 50px;
}

.logo-liga{
    border-radius: 50px;
}

.container-icon-beneficiu{
    text-align: center;
    color: #000;
}

.container-icon-beneficiu h3{
    padding-bottom: 22px;
}

.container-icon-beneficiu p{
    text-align: left;
}

/*ORGANIZATORI*/
.container-organizatori{
    /*background: url('../images/backgrounds-about-us-frontend/organizatori-background.jpg') no-repeat center center;*/
}

h1.organizer-teaser-text{
    color: #000;
    font-size: 100px;
    text-align: center;
    -webkit-animation: 1s fadeInUp ease;
    -moz-animation: 1s fadeInUp ease;
    -o-animation: 1s fadeInUp ease;
    animation: 1s fadeInUp ease;
}

.container-organizatori {
    padding-top: 130px;
}

/*TURNEE*/
.container-tournaments{
    padding-top: 100px;
    background: rgb(242,246,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(242,246,248) 0%, rgb(216,225,231) 50%, rgb(224,239,249) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,246,248)), color-stop(50%,rgb(216,225,231)), color-stop(100%,rgb(224,239,249))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6 */

    /*background: url('../images/backgrounds-about-us-frontend/turnee-background.jpg') no-repeat center center;*/
    text-align: center;
}

.container-tournaments h1, .container-contact h1{
    font-size: 120px;
    -webkit-animation: 1s fadeInUp ease;
    -moz-animation: 1s fadeInUp ease;
    -o-animation: 1s fadeInUp ease;
    animation: 1s fadeInUp ease;
}

.active-tournaments-teaser{
    font-size: 150px;
    -webkit-animation: 1s fadeInDown ease;
    -moz-animation: 1s fadeInDown ease;
    -o-animation: 1s fadeInDown ease;
    animation: 1s fadeInDown ease;
}

/*CONTACT*/
.container-contact, .container-partners{
    height: 900px;
    padding-top: 200px;

    background: rgb(242,246,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(242,246,248) 0%, rgb(216,225,231) 50%, rgb(224,239,249) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,246,248)), color-stop(50%,rgb(216,225,231)), color-stop(100%,rgb(224,239,249))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(242,246,248) 0%,rgb(216,225,231) 50%,rgb(224,239,249) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6 */

    text-align: center;
}

.container-text-contact a{
    font-size: 50px;
}

.container-text-contact a, .container-text-contact p{
    -webkit-animation: 1s fadeInUp ease;
    -moz-animation: 1s fadeInUp ease;
    -o-animation: 1s fadeInUp ease;
    animation: 1s fadeInUp ease;
}

.container-description-partner img{
    margin-bottom: 20px;
}

.container-description-partner p{
    text-align: left;
}

img#logo-nexus-club{
    margin-top: 30px;
    margin-bottom: 40px;
}