.menu-section-text{
    font-size: 20px;
}

ul.titlu-turneu-signup{
    list-style: none;
    display: inline;
}

ul.titlu-turneu-signup li {
    display: inline;
}

.btn-signup-turneu-detalii{
    margin-top: 45px;
}

.two-button-set-list, .two-button-set-list li{
    margin: 0;
    padding: 0;
    display:inline-block;
    list-style: none;
}

.tournaments-list, .players-list{
    display:none;
}

.success-message-flash{
    color: green;
}

.error-message-flash{
    color: red;
}

.container-image-user{
    text-align: center;
    padding-bottom: 5px;
}

.btn-modifica-profilul{
    margin-bottom: 10px;
}

.main-profile-image{
    box-shadow: 2px 2px 2px #888888;
}

.form-avatars{
    margin-top: 30px;
}

.message-no-players-found{
    margin-top: 20px;
    margin-left: 15px;
}

.profile-small-pic{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px #888888;
}

.profile-pic-table-players{
    max-width: 120px;
    max-height: 120px;
    box-shadow: 2px 2px 2px #888888;
}

.profile-pic-send-message{
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px #888888;
}

.profile-pic-rezumat-backend{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 2px 2px 2px #888888;
}

.profile-pic-table-tournament-details{
    max-width: 40%;
    max-height: 40%;
    box-shadow: 2px 2px 2px #888888;
}

.container-user-avatar-admin{
    margin-top: 20px;
}

.containerNicknameRaceBNet{
    position: relative;
    top:-15px;
}

.btn-white-background{
    background-color: #fff;
}

.gamepad-icon{
    position: relative;
    top:-3px;
}

.buton-alege-avatar{
    position: relative;
    top:-5px;
}

.container-summary-players, .container-summary-messages{
    /*border-top: 5px solid #c4e3f3;*/
    height: 325px;
    margin-bottom: 20px;
}

.container-summary-organizers, .container-summary-avatars{
    /*border-top: 5px solid #ec971f;*/
    height: 325px;
    margin-bottom: 20px;
}

.container-summary-tournaments, .container-summary-blacklist{
    /*border: 1px solid #55cc22;*/
    height: 325px;
    margin-bottom: 20px;
}

.circleNrEntities, .circleNrEntitiesAvatar{
    display: block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    float: right;
    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: green;
    color: white;
    text-align: center;
}

.circleNrEntitiesAvatar{
    background-color: orangered;
}

.send-message-tournament-container{
    border-bottom: 1px solid gainsboro;
}

.send-message-tournament-container:last-child{
    border-bottom: none;
}

.container-organizer-details-tournament{
    margin-bottom: 25px;
    border-right: 1px dashed darkgray;
}
/*for a more detailed explanation on nth child: http://css-tricks.com/how-nth-child-works/*/
.container-organizer-details-tournament:nth-child(3n + 1){ /* the last element we need to be without a border is starts at index 4*/
    border-right: none;
}

ul.edit-menu-tournament, ul.edit-menu-tournament li{
    display: inline-block;
    font-size: 18px;
}

ul.edit-menu-tournament li{
    margin-left: 10px;
}

ul.edit-menu-tournament{
    padding-top: 45px;
}

.no-style-submit-button{
    border: none;
    background: none;
    color: #30487b;
}

.no-style-button{
    border: none;
    background: none;
}

.details-tournament-user th, .details-tournament-user td{
    text-align: center;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}