body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.clearFloats{
    clear: both;
}

.top-nav-bar-landing-page{
    width: 100%;
    height: 40px;
    padding-top: 20px;
    background-color: #000;
    position: absolute;
    position: fixed;
}

.top-nav-bar-landing-page a{
    margin-left: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}

.top-nav-bar-landing-page a:last-child{
    margin-right: 50px;
}

.main-landing-page-container, .container-about-us, .container-jucatori, .container-organizatori, .container-tournaments{
    min-width: 100%;
    min-height: 100%;
}

.container-site-logo{
    padding-top: 30px;
}

.master-container{
    background: url('../images/background-frontend-app/SC2-Tournaments-Frontend-App.jpg') no-repeat center center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-landing-page-container{

}

.text-landing-page{
    -webkit-animation: 1s bounce ease;
    -moz-animation: 1s bounce ease;
    -o-animation: 1s bounce ease;
    animation: 1s bounce ease;
}

.text-landing-page ul {
    margin-left: 30px;
}

.text-landing-page ul li {
    display: inline-block;
}

.text-landing-page h3{
    color: #fff;
    width: 60%;
    margin-left: 70px;
    line-height: 36px;
    margin-bottom: 30px;
}

.container-about-us{
    background-color: #000;
    padding-top: 120px;
    padding-left: 75px;
    color: #fff;
}

.container-about-us h1{
    font-size: 20px;
    padding-top: 10px;
    color: #000;
}


.container-main-menu-landing-page{
    width: 100%;
    height: 100px;
    /*position: fixed;*/
    color: #fff;
}

.main-menu-landing-page{
    padding-top: 35px;
}

#logo-sc2-vidcasts-romania{
    position: relative;
    top: -30px;
}

#main-menu-left, #main-menu-right{
    padding-top: 35px;
}

#main-menu-left {
    margin-left: 35px;
}

#main-menu-left li {
    display: inline-block;
    margin-left: 25px;
    font-size: 16px;
}

#main-menu-left li a{
    color: #6bd7e7;
    background-color: #475657;
    padding: 15px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#main-menu-left li a:hover{
    cursor: pointer;
}

#main-menu-left li a.active{
    color: #000;
    background-color: #DAA42F;
    padding: 15px 15px;
    border-radius: 20px;
    text-decoration: none;
}

a.teaser-login-signup:hover{
    text-decoration: underline;
}

.text-landing-page{
    padding-top: 50px;
}

p.paragraph-landing-page{
    width: 600px;
    color: #000;
    padding-top: 20px;
    margin-left: 65px;
}

p.last-item{
    padding-bottom: 30px;
}

h1.huge-h1-landing-page, h1.medium-h1-landing-page{
    color: #fff;
}

h1.huge-h1-landing-page{
    font-size:120px;
    margin-left: 60px;
    margin-top: -20px;
}

h1.medium-h1-landing-page{
    font-size: 70px;
    margin-top: -20px;
}

#proiect, #echipa, #turnee-active{
    padding-top: 100px;
    padding-bottom: 100px;
}


/*CONTACT*/
.container-contact, .container-partners{
    height: 900px;
    padding-top: 200px;
    text-align: center;
}

.container-text-contact h1{
    color: #fff;
}

.container-text-contact a{
    font-size: 50px;
}

.container-text-contact a, .container-text-contact p{
    -webkit-animation: 1s fadeInUp ease;
    -moz-animation: 1s fadeInUp ease;
    -o-animation: 1s fadeInUp ease;
    animation: 1s fadeInUp ease;
    color: #fff;
}

.container-description-partner img{
    margin-bottom: 20px;
}

.container-description-partner p{
    text-align: left;
}

img#logo-nexus-club{
    margin-top: 30px;
    margin-bottom: 40px;
}

/*403 error page*/
.container-403-error-message, .container-delete-message {
    padding-top: 100px;
    text-align: center;
}

.container-delete-message{
    padding-top: 30px;
}

.container-403-error-message h1{
    font-size: 60px;
}

.container-403-error-message p {
    font-size: 30px;
}

/*Delete warning*/
.container-delete-message h1.info-title-delete-tournament{
    font-size: 30px;
    margin-bottom: 50px;
}

.container-delete-tournament-details{
    text-align: left;
}

.container-delete-tournament-details ul{
    list-style: none;
    font-size: 14px;
    line-height: 24px;
}

.container-text-delete-tournament{
    padding-top: 40px;
    height: 300px;
}

.delete-tournament-buttons li{
    display: inline-block;
}

.delete-tournament-winner{
    text-align: center;
}

.last-warning{
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
}

.list-avatar-image-player {
    display: inline-block;
}

/*Teaser information*/
.container-teaser-information{
    padding-top: 100px;
}

.section-info, .section-info-teaser-text{
    font-size: 150px;
    color: #fff;
}

.section-info-teaser-text{
    font-size: 80px;
}

#container-detailed-info-project-players, #container-detailed-info-project-tournaments, #container-detailed-info-project-organizers, #container-detailed-info-project-description{
    text-align: center;
    opacity: 0.8;
    padding-bottom: 50px;
    height: 320px;
    margin-bottom: 150px;
}

#container-detailed-info-project-description{
    text-align: left;
}

#container-detailed-info-project-players{
    background-color: #3a6082;
}

#container-detailed-info-project-tournaments {
    background-color: #1d132e;
}

#container-detailed-info-project-organizers {
    background-color: #781f28;
}

#container-detailed-info-project-description{
    background-color: #0f0b17;
}

#container-detailed-info-project-players p, #container-detailed-info-project-tournaments p, #container-detailed-info-project-organizers p, #container-detailed-info-project-description p{
    font-size: 20px;
    color: #fff;
}

#container-detailed-info-project-description p{
    width: 85%;
    font-size: 16px;
}