<div class="main-message-race">
    <ul>
        <li><img src="../../images/race-logo/protoss/<%=raceMessages.protoss.raceImage%>"/></li>
        <li><h3><%=raceMessages.protoss.raceImageIdentifier%></h3></li>
    </ul>
</div>
<div class="message-extended-race">
    <p><%=raceMessages.protoss.topMessage%></p>
    <p><%=raceMessages.protoss.bottomMessage%></p>
</div>