<div class="main-message-race">
    <ul>
        <li><img src="../../images/race-logo/terran/<%=raceMessages.terran.raceImage%>"/></li>
        <li><h3><%=raceMessages.terran.raceImageIdentifier%></h3></li>
    </ul>
</div>
<div class="message-extended-race">
    <p><%=raceMessages.terran.topMessage%></p>
    <p><%=raceMessages.terran.bottomMessage%></p>
</div>