<div class="main-message-race">
    <ul>
        <li><img src="../../images/race-logo/zerg/<%=raceMessages.zerg.raceImage%>"/></li>
        <li><h3><%=raceMessages.zerg.raceImageIdentifier%></h3></li>
    </ul>
</div>
<div class="message-extended-race">
    <p><%=raceMessages.zerg.topMessage%></p>
    <p><%=raceMessages.zerg.bottomMessage%></p>
</div>