<div class="container-about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="about-us-images">
                    <div class="active-description cristian-description member-description col-sm-3 col-md-3 col-lg-3">
                        <img id="cristian" class="active-image" status="clicked" src="/images/team-sc2-vidcasts/pic_cristian.jpg" alt="Cristian Drincu" width="103" height="101"/>
                        <h1>Cristian Sergiu Drincu</h1>
                        <p class="team-member-role">General Manager</p>
                        <br class="clearFloats"/>
                        <h3>Programmer by day, gamer by night.</h3>
                        <p>Salut. Numele meu este Cristian Drincu a.k.a. Warbringer. Am 32 de ani si sunt din Timisoara. Radacinile de gamer le-am prins din clasa a 5-a, cand am primit primul comp, un 486. Primul joc a fost “Dune”, apoi “Warcraft”. Cam astea doua jocuri got me hooked forever pe stilul RTS.</p>
                    </div>
                    <div class="adila-description member-description col-sm-3 col-md-3 col-lg-3">
                        <img id="adila" status="unclicked" src="/images/team-sc2-vidcasts/pic_adila.jpg" alt="Adrian Sandulescu" width="103" height="101"/>
                        <h1>Adrian Sandulescu</h1>
                        <p class="team-member-role">Caster</p>
                        <br class="clearFloats"/>
                        <h3>Diablo 3 &amp; Heroes of the Storm fanatic, Starcraft 2 caster</h3>
                        <p>Pasiunea pentru jocuri vine din vremea pe cand exista asa zisa consolo HC91, dupa care am trecut, ca toata lumea, pe gameboy. Ajuns la PC am descoperit Diablo 1, insa Diablo 2 l-am jucat
                            ani de zile…
                            <br/><br/>
                            O data cu lansarea jocului Diablo 3 am gasit comunitatea Vidcasts Romania, in care am fost facut membru si bagat cu japca la starcraft 2 pentru cast</p>
                    </div>
                    <div class="hundrei-description member-description col-sm-3 col-md-3 col-lg-3">
                        <img id="hundrei" status="unclicked" src="/images/team-sc2-vidcasts/pic_chiriches-andrei.jpg" alt="Andrei Chiriches" width="103" height="101"/>
                        <h1>Andrei Chiriches</h1>
                        <p class="team-member-role">Editor stiri</p>
                        <br class="clearFloats"/>
                        <h3>Om impatimit de noutati &amp; Hearth Stone</h3>
                        <p>Nu sunt sau nu am fost cine stie ce gammer insa singurul game pe care l-am jucat cu o deosebita placere a fost Starcraft si asta se intampla pe vremea cand aveam eu 10-11 ani.
                            <br/><br/>
                            Despre mine nu pot decat sa va mai spun ca sunt imobilizat intr-un scaun cu rotile (deoarece am avut un accident stupid in 2008 si mi-am rupt coloana), sunt un tip optimist, glumet spre ironic si doritor sa schimb ceva pe lumea asta oricat de mic ar fi acest lucru.Traiesc dupa motto-ul ‘life is short, play hard’ si imi plac brunetele ).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--DESPRE NOI container ends here-->