<ul class="nav nav-tabs" role="tablist" style="margin-top: 20px;">
    <li class="active"><a href="#turnee-active-jucator" role="tab" data-toggle="tab">Turnee active</a>
    </li>
    <li><a href="#turnee-inactive-jucator" role="tab" data-toggle="tab">Turnee terminate</a></li>
</ul>