<ul class="nav nav-tabs avatar-tabs" role="tablist">
    <li class="active"><a href="#terran" role="tab" data-toggle="tab">Terran</a></li>
    <li><a href="#zerg" role="tab" data-toggle="tab">Zerg</a></li>
    <li><a href="#protoss" role="tab" data-toggle="tab">Protoss</a></li>
</ul>