<%include ../partials/header.ejs%>
<% userAvatar.local.avatar.forEach(function(avatar){ %>
    <% include ../partials/sidebar-admin.ejs%>
<% });%>

<div id="page-wrapper" class="container-create-quote">
    <h1><i class="fa fa-gamepad fa-fw"></i> Creaza un nou citat</h1>
    <% if(errorMessage.length === 0 && successMessage.length === 0){%>
        <p class="alert-success"></p>
    <%} else if(errorMessage.length > 0) {%>
        <p class="alert-danger"><%= errorMessage%></p>
    <%} else {%>
        <p class="alert-success"><%= successMessage%></p>
    <%}%>
    <div class="row">
        <div class="col-lg-7">
            <form action="/create-new-quote/<%= user._id%>" method="post">
                <div class="form-group">
                    <label>Autorul citatului</label>
                    <input type="text" class="form-control" name="quoteAuthorName" required>
                </div>
                <div class="form-group">
                    <label>Textul citatului</label>
                    <textarea class="form-control" name="quoteText" rows="10" required></textarea>
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Introdu acest citat</button>
            </form>
        </div>
    </div>
</div>

<%include ../partials/footer.ejs%>