<div class="container-contact container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 container-text-contact">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h1>Intrebari &amp; sugestii</h1>
                <a href="mailto:starcraft2vidcasts@gmail.com">Trimite-ne un mesaj</a>
                <p>P.S. Te rugam ca mesajul sa fie unul constructiv. La fel si pentru sugestiile tale. Iti multumim!</p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>