<% include ../partials/header.ejs %>
<% userAvatar.local.avatar.forEach(function(avatar){ %>
    <% include ../partials/sidebar.ejs %>
<% }); %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lista turneelor in care te-ai inscris</h1>
            <% if(errorMessage.length == 0){ %>
            <p class="success-message-flash"><%= successMessage %></p>
            <% }else{ %>
            <p class="error-message-flash"><%= errorMessage %></p>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="border: none;">

                <% include ../tournament/partials-user-tournaments/user-tournaments-tabs.ejs %>

                <div class="tab-content">
                    <% include ../tournament/partials-user-tournaments/user-active-tournaments.ejs %>
                    <% include ../tournament/partials-user-tournaments/user-inactive-tournaments.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>