<div class="container-tournaments" ng-controller="OpenTournamentsController">
    <h1>Turnee active</h1>
    <p class="active-tournaments-teaser">{{ activeTournaments }}</p>
</div>
<!--TURNEE container ends here-->