
    <div class="main-landing-page-container" id="acasa">
        <div class="container-fluid">
            <div class="text-landing-page">
                <h1 class="huge-h1-landing-page">Gata de lupta?</h1>
                <h3>Fie ca esti jucator de Starcraft 2 sau organizator
                    de astfel de evenimente, online sau offline, ne-am gandit
                    la tine. Asa ca te invitam sa iti faci un cont si sa organizezi
                    sau sa participi in cadrul turneelor de Starcraft 2 pentru
                    Romania.
                </h3>
                <!--<ul>-->
                    <!--<li><a href="/login" class="btn btn-success login-btn"><span class="fa fa-user"></span> Login</a></li>-->
                    <!--<li><a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Fa-ti un cont</a></li>-->
                <!--</ul>-->
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 container-teaser-information">
                    <div class="col-sm-2 col-md-2 col-lg-2" id="container-detailed-info-project-players">
                        <div content-loading="loadingProjects"></div>
                        <h1 class="section-info">{{ playerNumbers }}</h1>
                        <p>jucatori inscrisi</p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2" id="container-detailed-info-project-tournaments">
                        <div content-loading="loadingProjects"></div>
                        <h1 class="section-info">{{ activeTournaments }}</h1>
                        <p>turnee active</p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2" id="container-detailed-info-project-organizers">
                        <div content-loading="loadingProjects"></div>
                        <h1 class="section-info">{{ organizers }}</h1>
                        <p>organizatori</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6" id="container-detailed-info-project-description">
                        <h1 class="section-info-teaser-text">Salut...</h1>
                        <p>
                            si bine ai venit pe singura platforma de organizat turnee de Starcraft 2 din Romania!
                        </p>
                        <br/>
                        <p>
                            Platforma noastra iti va da posibilitatea sa te organizezi atunci cand vei dori sa-ti creezi propriul turneu. Gata cu metodele de genul: Google Docs sau comment-uri pe Facebook.
                        </p>
                        <br/>
                        <p>
                            Acum ai un singur loc cu nenumarate optiuni, iar astfel turneul tau va primi o tenta de profesionalism si seriozitate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--HOME container ends here-->

