<div class="main-landing-page-container" id="acasa">
    <div class="container-fluid">
        <div class="text-landing-page">
            <h1 class="huge-h1-landing-page">E-Sports.</h1>
            <h1 class="huge-h1-landing-page">Turnee.</h1>
            <h1 class="huge-h1-landing-page">Starcraft 2.</h1>

            <p class="paragraph-landing-page">Salut si bine ai venit pe singura platforma de organizat turnee de Starcraft 2 din Romania!
            </p>

            <!--<p class="paragraph-landing-page">-->
                <!--Mai tii minte zilele acelea cand vroiai sa organizezi un turneu si nu stiai cu ce sa  incepi si cu ce sa termini? Iata ca noi, cei din cadrul echipei starcraft2-vidcasts.ro, ne-am gandit sa-ti dam o mana de ajutor.-->
            <!--</p>-->

            <p class="paragraph-landing-page last-item">
                Noua noastra platforma iti va da posibilitatea sa te organizezi foarte usor atunci cand vei avea intentia sa-ti creezi propriul turneu.
                Gata cu metodele  de genul: Google Docs sau comment-uri lasate la posturile de pe Facebook sau de pe site-urile voastre. Acum ai un singur loc cu nenumarate optiuni, iar astfel turneul tau va primii o tenta de profesionalism si seriozitate.
            </p>

            <!--<p class="paragraph-landing-page last-item">-->
                <!--Asa ca fa-ti un cont  si lasa sa  inceapa distractia!-->
            <!--</p>-->

            <a href="/login" class="btn btn-success login-btn"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Fa-ti un cont</a>
        </div>
    </div>
</div>
<!--HOME container ends here-->